@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Original+Surfer&display=swap");

:root {
  --colorheader: #ccffbd;
  --colorbody: #7eca9c;
  --btn: #40394a;
  --purple1: #1c1427;
  --fontTitle: "Original Surfer", cursive;
  --fontBody: "Indie Flower", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--colorbody);
}

.header-principal {
  background-color: var(--colorheader);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

header.header-principal h1 {
  font-family: var(--fontTitle);
  font-size: 2.8rem;
  margin: 0;
}

header.header-principal img {
  width: 5rem;
}

.img-secretos {
  display: none;
}

.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.principal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.principal-section h1 {
  font-family: var(--fontTitle);
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
}

section.principal-section p {
  font-family: var(--fontBody);
  font-size: 1rem;
  width: 90%;
  text-align: center;
  margin: 0 0 1rem 0;
}

label {
  text-align: start;
  font-family: var(--fontTitle);
  font-size: 1.5rem;
  width: 90%;
  max-width: 357px;
  
}

input,
textarea {
  width: 90%;
  max-width: 357px;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  font-family: var(--fontBody);
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border: 1px solid #c4c4c4;
}

textarea {
  max-height: 150px;
}

#container-countries {
  display: flex;
  width: 90%;
  max-width: 357px;
  justify-content: space-between;
}

div#container-countries input:first-child {
  width: 48%;
}

.input-cel {
  width: 48%;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 357px;
  padding: 1rem 0;
}

div.container-btn button {
  background-color: var(--btn);
  color: #fff;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--fontTitle);
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

div.container-btn button:hover {
  background-color: #eb5757;
}

.container-btn-info-reset {
  width: 100%;
  background-color: var(--purple1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

footer.container-btn-info-reset button {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  padding: 0.3rem;
  background-color: var(--btn);
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--btn);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px;
}

.btn-info {
  background-image: url("img/info_icon.svg");
}

.btn-reset {
  background-image: url("img/restart_icon.svg");
}

.btn-info:hover:after {
  position: absolute;
  padding: 0.2rem;
  font-family: var(--fontTitle);
  background-color: var(--colorheader);
  content: "Informacion";
  top: 0;
  border-radius: 3px;
  opacity: 0.6;
}

.btn-reset:hover:after {
  position: absolute;
  padding: 0.2rem;
  font-family: var(--fontTitle);
  background-color: var(--colorheader);
  content: "Restablecer";
  top: 0;
  right: 31px;
  border-radius: 3px;
  opacity: 0.6;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: var(--btn);
  width: 80%;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 1.5rem 0 1.5rem 2rem;
  max-height: 550px;
  padding: 1.5rem 1.5rem 0 1.5rem;

}

.Content-modal {
  color: #fff;
  max-height: 400px;
  overflow-y: auto;
  text-align: center;
  font-family: var(--fontTitle);
  margin-bottom: 2rem;
}

.container-btn-modal {
  display: flex;
  justify-content: space-between;
}

div.container-btn-modal button {
  background-color: var(--btn);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px;
  width: 50px;
  height: 50px;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn-whatsapp {
  background-image: url("./img/logog.png");
}

.btn-close-modal {
  background-image: url("./img/btn_close.svg");
}

.list-instructions{
  text-align: left;
}
@media screen and (min-width: 800px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem 4rem 0 4rem;
  }

  .img-secretos {
    display: block;
    width: 100%;
    max-width: 560px;
    align-self: center;
    justify-self: center;
  }
}
