@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Original+Surfer&display=swap");
:root {
  --colorheader: #ccffbd;
  --colorbody: #7eca9c;
  --btn: #40394a;
  --purple1: #1c1427;
  --fontTitle: "Original Surfer", cursive;
  --fontBody: "Indie Flower", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorbody);
}

.header-principal {
  background-color: var(--colorheader);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

header.header-principal h1 {
  font-family: var(--fontTitle);
}

header.header-principal img {
  width: 4rem;
}

.img-secretos {
  display: none;
}

.main-container {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 0 0;
}

.principal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.principal-section h1 {
  font-family: var(--fontTitle);
  font-size: 1.5rem;
}

section.principal-section p {
  font-family: var(--fontBody);
  font-size: 1rem;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
}
label {
  text-align: start;
  font-family: var(--fontTitle);
  font-size: 1rem;
  width: 80%;
  max-width: 357px;
}

input,
textarea {
  width: 80%;
  max-width: 357px;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  font-family: var(--fontBody);
  font-size: 1rem;
  padding-left: 1rem;
  border: 1px solid #c4c4c4;
}

input,
textarea:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--btn);
}

.container-btn {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 1rem;
}

div.container-btn button {
  background-color: var(--btn);
  color: #fff;
  padding: 0.3rem;
  font-size: 1rem;
  font-family: var(--fontTitle);
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.container-btn button:hover {
  background-color: #eb5757;
}

.container-btn-info {
  width: 100%;
  background-color: var(--purple1);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
}

footer.container-btn-info button {
  position: relative;
  width: 4rem;
  background-color: var(--btn);
  padding: 0.3rem;
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-info:hover:after {
  position: absolute;
  padding: 0.2rem;
  font-family: var(--fontTitle);
  background-color: var(--colorheader);
  content: "Informacion";
  top: 0;
  border-radius: 3px;
  opacity: 0.6;
}

.btn-reset:hover:after {
  position: absolute;
  padding: 0.2rem;
  font-family: var(--fontTitle);
  background-color: var(--colorheader);
  content: "Restablecer";
  top: 0;
  right: 31px;
  border-radius: 3px;
  opacity: 0.6;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background: linear-gradient(to right, #fe98d7, #87cdd1);
  /* background-color:#ffdff4; */
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.imagen {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0.7);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: 800px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem 4rem 0 4rem;
  }

  .img-secretos {
    display: block;
    width: 593px;
    align-self: center;
    justify-self: center;
  }
}
